header {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: "Microsoft YaHei UI Light";
  width: 100%;
  background-color: #f3f7fa;
  filter: alpha(opacity=90);
  -moz-opacity: .8;
  opacity: .8;
  -khtml-opacity: .8;
  box-shadow: 0 0 5px 0 #333;
}
header .nav {
  height: 60px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .nav .search-wrap {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
header .nav .search-wrap .search-input-wrap {
  height: 32px;
  width: 200px;
  border-bottom: thin solid #f35626;
  -webkit-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}
header .nav .search-wrap .search-input-wrap input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f35626;
  -webkit-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}
header .nav .search-wrap .search-btn {
  cursor: pointer;
}
header .nav .search-wrap .search-btn .icon-search {
  color: #f35626 !important;
  -webkit-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}
header .nav .nav-list {
  display: flex;
  align-items: center;
}
header .nav .nav-list .nav-list-item {
  padding: 0 .6rem;
  font-size: 1.6rem;
  color: #202020;
  cursor: pointer;
}
header .nav .nav-list .nav-list-item:not(:last-child) {
  margin-right: 1rem;
}
header .nav .nav-list .nav-list-item:hover {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px transparent;
  -webkit-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}
header .nav .nav-list .nav-list-item-active {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px transparent;
  -webkit-animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
